.wd-recipe-details-container {
    margin: 20px 0px 0px
}

.wd-recipe-details {
    margin: 20px 15px 0px
}

.wd-recipe-details-ingredients {
    margin: 5px 5px 5px
}

.wd-recipe-details-sub-heading {
    margin: 30px 5px 30px
}

.wd-recipe-details-section {
    margin: 0px 0px 30px
}